:root,
:host {
  --md-sys-color-background: #17120e;
  --md-sys-color-on-background: #ece0d8;
  --md-sys-color-surface: #17120e;
  --md-sys-color-surface-dim: #17120e;
  --md-sys-color-surface-bright: #3f3832;
  --md-sys-color-surface-container-lowest: #120d09;
  --md-sys-color-surface-container-low: #201b15;
  --md-sys-color-surface-container: #241f19;
  --md-sys-color-surface-container-high: #2f2923;
  --md-sys-color-surface-container-highest: #3a342e;
  --md-sys-color-on-surface: #ece0d8;
  --md-sys-color-surface-variant: #514539;
  --md-sys-color-on-surface-variant: #d5c3b4;
  --md-sys-color-inverse-surface: #ece0d8;
  --md-sys-color-inverse-on-surface: #352f2a;
  --md-sys-color-outline: #9e8e80;
  --md-sys-color-outline-variant: #514539;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fbba70;
  --md-sys-color-primary: #fbba70;
  --md-sys-color-on-primary: #482900;
  --md-sys-color-primary-container: #623a00;
  --md-sys-color-on-primary-container: #ffd3a6;
  --md-sys-color-inverse-primary: #845413;
  --md-sys-color-secondary: #e3c09d;
  --md-sys-color-on-secondary: #412c13;
  --md-sys-color-secondary-container: #4f381e;
  --md-sys-color-on-secondary-container: #eecaa6;
  --md-sys-color-tertiary: #c1ce7b;
  --md-sys-color-on-tertiary: #2c3400;
  --md-sys-color-tertiary-container: #3e4802;
  --md-sys-color-on-tertiary-container: #d5e28d;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
}
